.container {
    background-color: rgb(190, 194, 255);
    margin: 50px;
    padding: 30px;
    border-radius: 8px;
  }
  
  h1,
  h3,
  form,
  ul,
  li {
    text-align: center;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  .result {
    background-color: rgb(209, 236, 243);
    border-radius: 8px;
    padding: 30px;
  }
  